<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SCCheckIn.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="SCCheckIn.My.MySettings.SCCheckInConnectionString"
            connectionString="Data Source=DAVEMACBOOK\SQLEXPRESS;Initial Catalog=SCCheckIn;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <applicationSettings>
        <SCCheckIn.My.MySettings>
            <setting name="MonthlyPrice" serializeAs="String">
                <value>45</value>
            </setting>
        </SCCheckIn.My.MySettings>
    </applicationSettings>
</configuration>